@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800;900&display=swap');
html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
font-family: 'Nunito', sans-serif;
}

.header
{
	color: white;font-family: 'Nunito', sans-serif;font-size: 45px;letter-spacing: 6px;margin-top: 80px; font-weight: 900;
}

.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
	border:0;
	background: none;
	display: block;
	text-align: center;
	border: 2px solid;
	padding: 14px, 10px;
	width: 300px;
	outline: none;
	color: black;
	border-radius: 3px;
	height: 40px;
	font-size: 20px;
	background-color: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;

}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}
#user_name_label, #email_name_label {
	font-size: 20px;
}
p{
	color: red;
	font-size: 0.1px;
}