@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800;900&display=swap');
html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
font-family: 'Nunito', sans-serif;
height: 100vh;
}

.title{
	color: #EEEEEE;
	font-size: 50px;
	font-weight: 900;
	margin-top: 15px;
	letter-spacing: 6px
}
.defination{
	color: #EEEEEE;
	font-size: 20px;
	font-weight: 800;
	margin-top: 15px;
}
.login_button{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid;
	padding: 14px, 10px;
	width: 300px;
	outline: none;
	color: white;
	border-radius: 24px;
	height: 60px;
	margin-top: 190px;
	font-size: 30px;
	transition: 0.6s ease;
}
.login_button:hover{
	border-color: lawngreen;
	width: 350px;
}
h3{
	color: #EEEEEE;
	font-weight: 900;
}